<div>

    <h2 translate="facultadhumanidadesApp.partida.home.title">Partidas</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#savePartidaModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="facultadhumanidadesApp.partida.home.createLabel">Create a new Partida</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="savePartidaModal" tabindex="-1" role="dialog" aria-labelledby="myPartidaLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPartidaLabel" translate="facultadhumanidadesApp.partida.home.createOrEditLabel">Create or edit a Partida</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="partida.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="facultadhumanidadesApp.partida.fecha">Fecha</label>
                            <input type="datetime-local" class="form-control" name="fecha"
                                   ng-model="partida.fecha" ng-model-options="{timezone: 'UTC'}" required>

                            <div ng-show="editForm.fecha.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.fecha.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.fecha.$error.datetimelocal" translate="entity.validation.datetimelocal">
                                    This field should be a date and time.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePartidaConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(partida.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="facultadhumanidadesApp.partida.delete.question" translate-values="{id: '{{partida.id}}'}">Are you sure you want to delete this Partida?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="facultadhumanidadesApp.partida.fecha">Fecha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="partida in partidas">
                    <td><a ui-sref="partidaDetail({id:partida.id})">{{partida.id}}</a></td>
                    <td>{{partida.fecha}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="partidaDetail({id:partida.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(partida.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(partida.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
